<h1>My Jupyter Notebook on IBM Watson Studio</h1>

__Alessandro Leonelli__

Currently working as an IT Technician but trying to develop new skills in the Machine Learning and AI area of information technology

_Interested in data science because I'am a person driven from tangible things, like numbers and plots_

### The next code tile will print a sum of two integer numbers using some Python Code

In [2]:
print(2+3)

5

##### Unordered list with one href
<ul>
    <li><a href="https://www.amazon.com/Amazon-Fresh-Espresso-Compatible-Nespresso/dp/B09P1BSW8Z/ref=sr_1_1_sspa?keywords=coffee&qid=1677937133&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEySFo1SkhXVFg2NlRFJmVuY3J5cHRlZElkPUEwMDA3OTg3QzZIQURHSVZNUFkwJmVuY3J5cHRlZEFkSWQ9QTAwMzMyMzExTlY4R1lSMFhPTDNWJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">Amazon Coffee</a></li>
  <li>Tea</li>
  <li>Milk</li>
</ul> 

##### Table of cars
<table>
  <tr>
    <th>Company</th>
    <th>Model</th>
    <th>MazSpeed</th>
  </tr>
  <tr>
    <td>Renault</td>
    <td>Twingo</td>
    <td>167</td>
  </tr>
  <tr>
    <td>BMW</td>
    <td>M1</td>
    <td>214</td>
  </tr>
</table>